@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@use './components/pins-table';
@use 'node_modules/@planning-inspectorate/core/dist/ui/header/pins-header';
@use 'node_modules/@planning-inspectorate/core/dist/ui/footer/pins-footer';

.govuk-summary-list--no-border .govuk-summary-list__key {
	width: 50%;
}

.pins-app-section-break {
	margin-top: 30px;
	margin-bottom: 35px;
}

.govuk-grid-column-two-thirds.pins-app-grid-column--80 {
	width: 80%;
	max-width: 80%;
}

.govuk-table[data-cy$='-table'] {
	width: 100%;
	table-layout: fixed;
	border-top: 1px solid govuk.$govuk-border-colour;

	td:first-child,
	th:first-child {
		width: 233px;
		font-weight: bold;
		overflow-wrap: break-word;
	}

	td:nth-child(3),
	th:nth-child(3) {
		text-align: right;
	}
}

.govuk-file-upload-button.govuk-file-upload-button--empty {
	background-color: govuk.govuk-colour('white');
	border-color: govuk.$govuk-link-colour;
	border-style: dashed;
}

.pins-app-link-button {
	padding: 0;
	font-family: inherit;
	color: govuk.$govuk-link-colour;
	text-decoration: underline;
	cursor: pointer;
	background: none;
	border: none;

	&:hover {
		color: govuk.$govuk-link-hover-colour;
		text-decoration: underline;
	}

	&:active {
		color: govuk.$govuk-link-active-colour;
	}
}

.govuk-grid-column-two-thirds > h1.govuk-heading-l + p.govuk-body {
	font-weight: 700;
}
