{% extends "views/layouts/main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l" data-cy="page-title">Assigned to {{ caseOfficerText }} ({{ cases.length }})</h1>
    </div>
  </div>
  {{ govukButton({
    text: "Create a case",
    classes: "govuk-button--secondary",
    href: "/create-a-case/case-details/case-officer",
      attributes: {
        "data-cy": "create-a-case"
      }
  }) }}

  {% if not cases or cases.length == 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body" data-cy="no-cases">No cases have been created yet.</p>
      </div>
    </div>
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full project">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">

        {% set rows = [] %}
        {% for case in cases %}
          {% set headerStatusText = case.headerStatusText %}
          {% set headerStatusClasses = case.headerStatusClasses %}

          {% set statusHtml %}
            {% include "../layouts/components/status-tag.njk" %}
          {% endset %}

	          {% set row = [
	            { html: '<a href="/case/' + case.reference | urlencode + '/overview"' + '" class="govuk-link" data-cy="case-reference-link">' + case.reference | escape + '</a>' },
            { text: case.planTitle or '-' },
            { text: 'Local Plan' if case.planType == 'local-plan' else (case.planType or '-') },
            { text: case.caseOfficerName or '-' },
            { html: statusHtml }
          ] %}
          {% set _ = rows.push(row) %}
        {% endfor %}

        {{ govukTable({
          head: [
            { text: "Case reference" },
            { text: "Plan title" },
            { text: "Plan type" },
            { text: "Case officer" },
            { text: "Status" }
          ],
               attributes: {
                  "data-cy": "casesTable"
                },
          rows: rows
        }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}
